{# Utilisation du fichier Base #}
{% extends 'base.html.twig' %}

{# Titre de la page #}
{% block title %}Créer un compte{% endblock %}

{# Conteneur de la page #}
{% block body %}

    {# Grille Bootstrap #}
    <div class="container-fluid">

        <div class="row">
            <h1 class="col-12 text-center my-5 pb-lg-5">CRÉER UN COMPTE</h1>
        </div>

        {# Formulaire d'inscription #}
        <div class="row">

            <div class="col-12 col-md-8 col-lg-7 col-xl-6 col-xxl-5 mx-auto">

                {{ form_start( registrationForm ) }}
                    {{ form_errors( registrationForm ) }}
                    {{ form_row( registrationForm.email ) }}
                    {{ form_row( registrationForm.pseudonym ) }}
                    {{ form_row( registrationForm.plainPassword ) }}

                    {# Recaptcha Google #}
                    <div class="mb-2">
                        <div class="mb-2">Captcha de sécurité</div>
                        <div class="g-recaptcha" data-sitekey="{{ google_recaptcha_site_key }}"></div>
                    </div>

                    {# Checkbox d'acceptation des CGU avec lien vers ces dernières #}
                        <div class="d-flex mt-3">{{ form_row( registrationForm.agreeTerms) }}
                        <a href="{{ path('terms_of_service') }} " class="text-dark ms-2"> CGU</a></div>

                    {{ form_row( registrationForm.save ) }}

                {{ form_end( registrationForm ) }}

            </div>

        </div>

    </div>

{% endblock %}

{% block js %}

    {# Fichier JS pour le fonctionnement du service Google recaptcha #}
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
{% endblock %}
