{# Menu principal #}
<nav class="navbar navbar-expand-lg bg-body-tertiary align-items-end">

    {# Logo et titre du site #}
    <a class="navbar-brand" href="{{ path('main_home') }}">
        <img src="{{ asset('images/logo_sigle.png') }}" alt="" class="img-fluid main-navbar-logo">
    </a>
    <div class="container-fluid">

        <a href="{{ path('main_home') }}" class="navbar-brand ms-lg-5 {{ route == 'main_home' ? 'active' }}"><i class="fas fa-home mx-1"></i>Accueil</a>

        {# Menu burger #}
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        {# Conteneur principal des boutons#}
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav mb-2 mb-lg-0">

                {# Liste déroulante liée aux publications #}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle cursor-pointer" id="navbarDropdown" data-bs-toggle="dropdown" aria-expanded="false">Publications</a>

                    {# Boutons du menu déroulant #}
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{ path('publication_list') }}">Toutes les publications</a>

                    {# Affichage du lien réservé au(x) compte(s) admin #}
                    {% if is_granted('ROLE_ADMIN') %}
                        <a class="dropdown-item" href="{{ path('new_publication') }}">Créer une publication</a>
                    {% endif %}

                    </ul>
                </li>

                {# Affichage si utilisateur connecté #}
                {% if  app.user%}

                    {# Liste déroulante liée aux comptes #}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle cursor-pointer" id="navbarDropdown" data-bs-toggle="dropdown" aria-expanded="false">Mon compte</a>

                        {# Boutons du menu déroulant #}
                        <ul class="dropdown-menu" aria-labelledby="profil-dropdown">

                            {# Affichage du pseudonyme de l'utilisateur connecté #}
                            <p class="dropdown-item my-auto" >{{ app.user.pseudonym }}</p>
                            <hr class="dropdown-divider">
                            <a class="dropdown-item" href="{{ path('main_profile') }}">Mon profil</a>
                            <a class="dropdown-item" href="{{ path('app_logout') }}">Déconnexion</a>
                        </ul>

                {# Affichage si utilisateur non connecté #}
                {% else  %}

                    {# lien de la page d'inscription#}
                    <li>
                        <a class="nav-link{{ route == 'app_register' ? ' active' }}" href="{{ path('app_register') }}">Créer un compte</a>
                    </li>

                    <li>
                        <a class="nav-link{{ route == 'app_login' ? ' active' }}" href="{{ path('app_login') }}">Connexion</a>
                    </li>

                {% endif %}
            </ul>
        </div>
    </div>
</nav>
