{# Utilisation du fichier Base #}
{% extends 'base.html.twig' %}

{# Titre de la page #}
{% block title %}Mon profil{% endblock %}

{# Conteneur de la page #}
{% block body %}

    {# Grille Bootstrap #}
    <div class="container-fluid">

        <div class="row">
            <h1 class="col-12 text-center my-5">Mon du profil</h1>
        </div>

        <div class="row">
            <div class="card mb-5 col-11 col-md-10 mx-auto">

                <div class="row">

                    {# Bloc de gauche #}
                    <div class="col-8 col-sm-7 col-md-4 px-2 py-3 mx-auto">
                        {% if app.user.photo is null %}

                            {# Affichage de la photo de profil par défault #}
                            <img src="{{ asset('images/default_profile_picture.jpg') }}" alt="Photo de profil par défaut" class="img-fluid img-thumbnail">
                        {% else %}

                            {# Affichage de la photo personalisée si modification effectuée par l'utilisateur #}
                            <img src="{{ asset('images/profils/' ~ app.user.photo )|imagine_filter('profil') }}" alt="" class="img-fluid img-thumbnail">
                        {% endif %}

                        <div class="row">
                            <div class="col-12 text-center">
                                <a href="{{ path('main_edit_photo') }}" class="text-secondary text-decoration-none">Modifier la photo de profil</a>
                            </div>
                        </div>
                    </div>

                    {# Bloc de droite #}
                    <div class="col-12 col-md-8 px-2 py-3 d-flex justify-content-center align-items-center">

                        {# Infos du compte #}
                        <ul class="list-group col-10 border">
                            <li class="list-group-item border text-secondary">Adresse Email : <span class="text-dark">{{ app.user.email }}</span></li>
                            <li class="list-group-item border text-secondary">Pseudonyme : <span class="text-dark">{{ app.user.pseudonym }}</span></li>
                            <li class="list-group-item border text-secondary">Date d'inscription : <span class="text-dark">{{ app.user.registrationDate|format_datetime(locale='fr', pattern="EEEE dd MMMM YYYY à HH'h'mm") }}</span></li>
                            <li class="list-group-item border text-secondary">
                                Compte :
                                <span class="text-dark">{{ is_granted('ROLE_ADMIN') ? 'Administrateur' : 'Utilisateur' }}</span>
                            </li>
                        </ul>
                    </div>

                </div>

            </div>
        </div>

    </div>

{% endblock %}
