{# Variable twig "route" pour contenir le nom de la route chargée (classe active du menu) #}
{% set route = app.request.attributes.get('_route') %}

<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">

    {# Balise meta description #}
    <meta name="description" content="Site du Rugby Club du Pays Graylois, pour découvrir l'association, vous informer ou prendre contact avec le club !">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {# Affichage du titre de page suivi du nom du site #}
    <title>{% block title %}{% endblock %} - {{ site_name }}</title>

    {# Lien cdn Google fonts #}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cabin">

    {# Lien cdn font-Awesome #}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">

    {# Inclusion css Bootstrap #}
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">

    {# Inclusion css perso #}
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">

    {# Block pour le css additionnel #}
    {% block css %}{% endblock %}

</head>
<body>

    {# Inclusion dans un block du menu principal afin de pouvoir changer la configuration de ce dernier #}
    {% block navbar %}{% include 'partials/_main_navbar.html.twig' %}{% endblock %}

    {# Condition d'affichage des messages relatifes à la vérification du compte #}
    {% if app.user and app.user.isVerified == false %}
        <div class="alert alert-warning alert-dismissible col-12 col-md-10 mt-5 alert text-center mx-auto" role="alert">
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
                <div class="alert-message">
                    <strong>Votre compte n'est pas activé.</strong>
                    <a href="{{ path('resend_verif') }}" class="text-dark">Renvoyer un lien d'activation.</a>
                </div>
        </div>
    {% endif %}

    {# Inclusion des messages flash #}
    {% include 'partials/_flashes.html.twig' %}

    {# Block pour le contenu des pages #}
    {% block body %}{% endblock %}

    {# Block pour le footer #}
    {% block footer %}{% include 'partials/_footer.html.twig' %}{% endblock %}

    {# inclusion js Bootstrap #}
    <script src="{{ asset('js/bootstrap.bundle.min.js') }}"></script>

    {# Block pour le js additionnel #}
    {% block js %}{% endblock %}

</body>
</html>
